html,
body {
	min-height: 100vh;
}

body {
	font-family: 'PT Sans Narrow', sans-serif;
	font-weight: 400;
	color: #000000;
	background-color: #424242;

	background: #F8D353;
	background: -webkit-linear-gradient(top left, #F8D353, #FF5C5A);
	background: -moz-linear-gradient(top left, #F8D353, #FF5C5A);
	background: linear-gradient(top left, #F8D353, #FF5C5A);

	/* background: #B0D09C;
	background: -webkit-linear-gradient(top left, #B0D09C, #4B8244);
	background: -moz-linear-gradient(top left, #B0D09C, #4B8244);
	background: linear-gradient(top left, #B0D09C, #4B8244); */

	/* background: #B5DBDC;
	background: -webkit-linear-gradient(top left, #B5DBDC, #A8C6D4);
	background: -moz-linear-gradient(top left, #B5DBDC, #A8C6D4);
	background: linear-gradient(top left, #B5DBDC, #A8C6D4); */

	/*	background: #DFA2B9;
	background: -webkit-linear-gradient(top left, #DFA2B9, #EBC48D);
	background: -moz-linear-gradient(top left, #DFA2B9, #EBC48D);
	background: linear-gradient(top left, #DFA2B9, #EBC48D);*/
}

img {
	max-width: 100%;
	height: auto;
	display: block;
}

.wrapper {
	max-width: 1170px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding-top: 50px;
}

.name {
	font-size: 58px;
	font-weight: 400;
	margin: 0;
	line-height: 1.5;
	font-family: 'Oranienbaum', cursive;
	color: #fff;
}

.title {
	font-size: 36px;
	font-weight: 400;
	margin: 0;
	line-height: 1.5;
	color: #fff;
}

.hidden {
	display: none;
}

.copyright {
	opacity: .5;
}

.copyright p {
	font-size: 18px;
	color: #FFF;
}

.copyright a {
	color: #FFF;
	text-decoration: underline;
}