.color-vk {
	color: #587fa4;
}

.color-fb {
	color: #3B5998;
}

.color-tg {
	color: #0088cc;
}

.color-insta {
	color: #e4405f;
}

.color-twitter {
	color: #33CCFF;
}

.color-mail {
	color: #168de2;
}

.color-github {
	color: #333;
}

